:root {
  --kbd-radius: .25rem;
  --kbd-height: 1.5rem;
  --kbd-min-width: 1.5rem;
  --kbd-padding-block: .15em;
  --kbd-padding-inline: .5em;
  --kbd-font-size: .92rem;

  /* Light theme defaults */
  --kbd-bg: oklch(98% 0 0);
  --kbd-border-color: color-mix(in srgb, oklch(21% .006 285.885) 20%, transparent);
}

.theme-light {
  --kbd-bg: oklch(98% 0 0);
  --kbd-border-color: color-mix(in srgb, oklch(21% .006 285.885) 20%, transparent);
}

.theme-dark {
  --kbd-bg: oklch(0.23 0.01 270);
  --kbd-border-color: color-mix(in srgb, oklch(97.807% .029 256.847) 20%, transparent);
}

kbd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  height: var(--kbd-height);
  min-width: var(--kbd-min-width);
  padding: var(--kbd-padding-block) var(--kbd-padding-inline);
  border-radius: var(--kbd-radius);
  font-size: var(--kbd-font-size);

  background-color: var(--kbd-bg);
  border: 1px solid var(--kbd-border-color);
  border-bottom-width: 2px;
}